* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}



/* section {
  height: 100vh;
} */


.section1 {

  /* height: 100vh;
  width: 100vw; */
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  background-image: linear-gradient(to left top, #161613, #151614, #141615, #131615, #131616, #171b1c, #1b2123, #20262a, #283439, #2f4347, #375254, #41625f);

}


.cc {
  font-size: 120px;
  color: white;
}

.are {
  font-size: 120px;
  color: white;
}

span {
  color: red;
}

button {
  border-color: yellowgreen;
  color: yellowgreen;
  border-radius: 25px;
  padding: 10px;
  background-color: transparent;

  width: 200px;
}

select {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border-color: yellowgreen;
}

/* SECTION TWO */
/* PAPA PIZZA SECTION*/
.papapizza {
  background-color: whitesmoke;
}



.box-container {
  background-color: white;
  height: 24rem;
  width: 24rem;
  border-style: groove;
} 


.papaimage {
  height: 24rem;
  width: 24rem;
  display: none;



}

.fif {
  height: 24rem;
  width: 80%;


 












  /* SECTION THREE-PAPA MENU */

  .papamenu{

  }


 .box-menu {
  background-color: white;
  height: 24rem;
  width: 24rem;
  border-style: groove;
  border-radius: 10px;
} 

 .image-menu {
    height: 70%;

    border-radius: 20px;
    padding: 15px;
  } 

 .image-menu2 {
    height: 200px;
    width: 500px;

  } 


  




  


  /* TOOPPINGS */

  .toppings-content {
    display: none;
  }

  .box-box {
    background-color: white;
    /* height: 24rem; */
    /* width: 40rem; */
    border-style: groove;
    border-radius: 7px;
  } 




  /* section order */

  .