* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}


header{
  position: fixed;
  top:0; left: 0; right:0;
  height: 3%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to left top, #161613, #151614, #141615, #131615, #131616, #171b1c, #1b2123, #20262a, #283439, #2f4347, #375254, #41625f);
  padding:2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#666;
}



header .navbar a{
  font-size: 1rem;
  margin-left: 2rem;
  color:#666;
}

header .navbar a:hover{
  color:yellowgreen;
}










/* Main page CSS begins */

.section1 {
  height: 100vh;

  background-image: linear-gradient(to left top, #161613, #151614, #141615, #131615, #131616, #171b1c, #1b2123, #20262a, #283439, #2f4347, #375254, #41625f);

}


.cc {
  font-size: 120px;
  color: white;
}

.are {
  font-size: 120px;
  color: white;
}

span {
  color: red;
}

button {
  border-color: yellowgreen;
  color: yellowgreen;
  border-radius: 25px;
  padding: 10px;
  background-color: transparent;

  width: 200px;
}

select {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border-color: yellowgreen;

}

/* SECTION TWO */
/* PAPA PIZZA SECTION*/
.papapizza {
  height: 100vh;
  background-image: linear-gradient(to bottom, #fdfeff, #f8fbfe, #f4f9fd, #eff6fd, #ebf3fc, #ebf3fc, #ebf3fc, #ebf3fc, #eff6fd, #f4f9fd, #f8fbfe, #fdfeff);
}



.box-container {
  background-color: white;
  height: 24rem;
  width: 24rem;
  border-radius: 10px;
  border-style: outset;
  border: solid 1px grey;
  box-shadow: 5px 5px  #1f282b;
} 


.papaimage {
  height: 24rem;
  width: 24rem;
  display: none;



}

.fif {
  height: 24rem;
  width: 80%;
}

/* PAPAMENU */









  


  /* TOOPPINGS */

  .toppings-content {
    display: none;
  }

  .box-box {
    background-color: white;
    /* height: 24rem; */
    /* width: 40rem; */
    border-style: groove;
    border-radius: 7px;
  } 




  /* section order */
  .cont{
    /* background-color: #375254; */
    background-image: linear-gradient(to bottom, #fdfeff, #edf1f7, #dce5ee, #cdd8e6, #bdccde, #bdccde, #bdccde, #bdccde, #cdd8e6, #dce5ee, #edf1f7, #fdfeff);
    /* background-image: linear-gradient(to bottom, #fdfeff, #f8fbfe, #f4f9fd, #eff6fd, #ebf3fc, #ebf3fc, #ebf3fc, #ebf3fc, #eff6fd, #f4f9fd, #f8fbfe, #fdfeff); */
    /* background-image: linear-gradient(to left top, #161613, #151614, #141615, #131615, #131616, #171b1c, #1b2123, #20262a, #283439, #2f4347, #375254, #41625f); */
  }

  .orderform{
    
    width: 40%;
    padding: 10px;
    display: flex;
    /* background-color: red; */
    flex-direction: row;
    justify-content: space-between;
  }



  footer{
   background-color: #131615;
  gap:50px;
  }